$white:   #F5F5F5 ;
$light-gray: #D6D4D5;
$dark-blue: #1C252C;
$pink: #FD636B;
$light-pink: #F5ABA6;
$black: #475B65;
$card-border-radius: 0.8rem;
$input-size: 1.5rem;

h1 {
  font-size: 4rem;
  font-weight: 200;
  margin-left: 3rem;

}

body {
  //background: linear-gradient(90deg, #F7B8DB,  #AAA8EF);
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  color: $black;
  font-weight: 200;
  background: $white;
}


h3 {
  color: $pink;
  font-weight: 200;
  &:before{
    
    content:"\f046";
    font-family: FontAwesome;
    padding-right: 1rem;
  }
}

.card{
  width: 80%;
  height: 60vh;
  background: $white;
  //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // border-radius: $card-border-radius;
}

.center {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.basket {
  
  padding: 3rem;
  span {
    left: 3rem;
  }
  li {
    padding: 0.3rem;
    font-size: 1.5rem;
    width: 20rem;
  }

  li:after{
    margin: 4rem;
  }
  button {
    margin:0%;
    border-radius:2rem;
    width: 2rem;
    height: 2rem;
    float: right;
  }
  button:after{
    content:"\f068";
    font-family: FontAwesome;
  }
}

.controller {
  padding: 6rem 3rem;
}

.message {
  background: $dark-blue;
  color: #fff;
  width: 100%;
  margin: 0;
  bottom: 0;
  position: absolute;
  left:0 ;

  p {
    text-align: center;
  }
}

input {
  font-weight: 200;
  color: $light-gray;
  font-size: $input-size - 0.4;
  outline: none; // Chrome outline
  box-shadow: none; // Firefox outline
  -webkit-appearance: none; // mobile Safari
  border-radius: 0; // mobile Safari
  border: none;
  border-bottom: solid 0.1rem;
  border-color: $light-gray;
  background: transparent;
  display: block;
  height: 2rem;
  width: 30rem;
  margin-bottom: 5%;
  padding: 2% 3%;
  position: relative;
  z-index: 0;
  -webkit-transition: border .25s;
  -moz-transition: border .25s;
  -o-transition: border .25s;
  transition: border .25s;
}

.placeholder {
  color: $light-gray;
  font-weight: 200;
}



::-webkit-input-placeholder { 
  @extend .placeholder; /* Chrome/Opera/Safari */
}
::-moz-placeholder { /* Firefox 19+ */
  @extend .placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
  @extend .placeholder;
}
:-moz-placeholder { /* Firefox 18- */
  @extend .placeholder;
}

input:focus {
  font-weight: 200;
  color: $black;
  border-color: $black;
}


.input--container {
  left: 50%;
}


/* button */
.addWrap, .removeWrap {
  display: flex;
  
}


button {
  margin: 2% 3%;
  outline:none;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 10rem;
  border-radius:40px;
  background: $white;
  border: 2px solid $pink;
  color:$pink;
  letter-spacing:1px;
  text-shadow:0;
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: $white;
    background: $pink;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"";
  }
}
