body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%; }

.gradient, body {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#FF9376), to(#FF9395));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #FF9376, #FF9395);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #FF9376, #FF9395);
  /* IE 10 */
  background: -ms-linear-gradient(left, #FF9376, #FF9395);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #FF9376, #FF9395); }

.default-font, body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  color: #475B65;
  font-weight: 200;
  font-size: 0.9rem; }

/* layout */
header, nav {
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif; }

section {
  background: #fff; }

nav {
  display: flex; }
  nav .tab {
    margin: auto; }

ul {
  margin: 0;
  list-style-position: inside;
  padding-left: 0; }

section {
  height: 60vh;
  padding: 6%; }

.userMessage {
  padding: 0.4rem 0;
  font-weight: 200;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; }

.line-border {
  border: 1px solid rgba(255, 255, 255, 0.2); }

/* style */
.mainHeader {
  margin-top: 3rem;
  text-transform: uppercase; }
  .mainHeader .userId {
    font-size: 2rem;
    font-weight: 600; }
  .mainHeader img {
    border-radius: 50%;
    border-style: solid; }
  .mainHeader ul {
    margin: auto;
    display: flex;
    width: 40%;
    padding: 1rem 0 2rem 0;
    list-style-type: none; }
  .mainHeader li {
    display: table;
    margin: auto; }
  .mainHeader .count {
    margin-left: .6rem;
    font-weight: 600; }
    .mainHeader .count:before {
      content: "";
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding-left: .6rem; }

nav {
  text-transform: uppercase;
  font-weight: 800;
  border: 1px solid rgba(255, 255, 255, 0.2);
  bottom: 0; }
  nav div {
    padding: 1rem; }

section .myName {
  font-weight: 600;
  font-size: 1.2rem; }

section .myDesc {
  padding: 1rem 0;
  line-height: 1.5rem; }
