$start-bgcolor: #FF9376;
$end-bgcolor: #FF9395;
$black: #475B65;
$line-color :rgba(255, 255, 255, 0.2);

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    max-width:100%;
    @extend .default-font;
    @extend .gradient;
}

// gradient backgroud in header//
.gradient {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from($start-bgcolor), to($end-bgcolor));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, $start-bgcolor, $end-bgcolor);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left,  $start-bgcolor, $end-bgcolor);
    /* IE 10 */
    background: -ms-linear-gradient(left,  $start-bgcolor, $end-bgcolor);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left,  $start-bgcolor, $end-bgcolor);
}

/* TYPOGRAHPY */
.default-font {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    color: $black;
    font-weight: 200;
    font-size: 0.9rem;
}

.nav--font {
    font-weight: 600;
    text-transform: uppercase;
}

.userID--font {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
}

.userMessage--font {
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Overpass', sans-serif;
}

.count--font {
    font-weight: 600;
}

.myName--font {
    font-weight: 600;
    font-size: 1.4rem;
}

.myDesc--font {
    font-weight: 00;
    font-size: 1rem;
}

.section-title--font {
    line-height: 2rem;
    ul {
        list-style: none;
    }
}

/* layout */
header, nav {
    color: #fff;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

section {
    background: #fff;
    height: 35vh;
    padding: 8% 10%;
}


nav {
    display: flex;
    .tab{
        margin: auto;
    }
}

ul {
    margin: 0;
    list-style-position: inside;
    padding-left:0;

}

.my_friend, .my_theme, .my_news {
    display: none;
}

.userMessage {
    @extend .userMessage--font;
}


/* style */
.line-border {
    border: 1px solid $line-color;
}



.mainHeader {
    text-transform: uppercase;
    .socialIcons {
        display: table;
        right: 0;
        padding: 1% 1% 3% 0;
        width: auto;
        position: absolute;
        li{
            border-radius: 50%;
            padding: 1rem;
            font-size: 1.4rem;
            right: 0;
            //position: absolute;
            &:hover{
                cursor: pointer;
                background: $line-color;
            }
        }

        li:nth-child(n+2){
            @extend .eleDisplayHide;
        }
    }
    
    .userId {
        @extend .userID--font;
    }
    .userMessage {
        @extend .userMessage--font;
    }

    img {
        border-radius: 50%;
        border-style: solid;
        margin-top: 3%;
    }
    ul {
        margin: auto;
        display: flex;
        width: 40%;
        padding: 2% 0 3% 0;
        list-style-type: none;
    }
    li {
        display: table;
        margin: auto;
    }

    .count {
       margin-left: .6rem;
       @extend .count--font;
       &:before{
           content:"·";
           margin-right: .6rem;
        }
    }
}



nav {
    @extend .nav--font;
    border-top: 1px solid $line-color;
    .tab {
        padding: 1rem;
        border-right: 1px solid $line-color;
        width: 100%;
        &:hover{
            background: $line-color;
            cursor: pointer;

        }
    }
    .selectedTab {
        background: #fff;
        color: $end-bgcolor;
        &:hover{
            cursor: pointer;
            background: #fff !important;
        }
    }

}



section {
    @extend .eleDisplayHide;
    @extend .section-title--font;
    .myName {
       @extend .myName--font;
    }
    .myDesc {
        padding: 1rem 0;
        @extend .myDesc--font;
    }
  
}

/* Element Show Class*/
.eleDisplayShow {
    display: block !important;
    visibility: visible !important;
}

.eleDisplayHide {
    display: none;
    visibility: hidden;
}